==
<div class="side-manu pull-right">
    <div class="close-btn">
        <span></span>
    </div>
    <div class="mobile-side-logo">
        <h2 style="color:white;">furuCRM Inc.</h2>
    </div>
    <ul>
        <li>
            <a href="#about">About us</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#team" >Leadership</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
        <li>
            <a href="/blog">Blog Me</a>
        </li>
        <li>
            <a href="/category/recruitment">Recruit Me</a>
        </li>
    </ul>
</div>
<div class="side-manu pull-left">
    <div class="close-btn">
        <span></span>
    </div>
    <div class="mobile-side-logo">
        <h2 style="color:white;">furuCRM Inc.</h2>
    </div>
    <ul>
        <li>
            <a href="#about">About us</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#team" >Leadership</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
        <li>
            <a href="/blog">Blog Me</a>
        </li>
        <li>
            <a href="/category/recruitment">Recruit Me</a>
        </li>
    </ul>
</div>